
.Font-size-xl{
    font-size: 24px;
}

.Font-size-l{
    font-size: 22px;
}

.Font-size-m{
    font-size: 19px;
}

.Font-size-s{
    font-size: 17px;
}

.Font-size-xs{
    font-size: 16px;
}

.Font-size-xxs{
    font-size: 14px;
}